
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.headplate{
    text-align: center;
}

/* Table styling */
.tablestyle {
  width: 610px;
  height:610px;
  text-align: center;
  margin:0 auto;
  
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}
tr {
  padding: 0;
}
td {
padding:0;
width: 6.66%;
background-color: lightgrey;
}

.TW {
  padding: 0;
  background-color: #ff6b33;
  
}

.DL {
  background-color: #3393ff;
}

.TL {
  background-color: #4f9425;
}

.DW{
  background-color: red;
}

.S{
  background-color: red;
  color: white;
}

.controls {
    display: flex;
    flex-direction: column;
    
}


.tile-container 
  {
    position: relative;
    height: 40px;
    text-align: center;
    margin:0;
    padding:2px;
    
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 25px;
  }

  .bottom-right {
    position: absolute;
    bottom: 3px;
    right: 2px;
    color: black;
    font-size: 10px;
  }



  .tile-on-board {
    max-width:100%;
    max-height:100%;
  }


  .ghost {
    visibility: hidden;
  }

  .slot {
    border: 2px solid  #855E42;
    border-radius: 5px;
    background-color:  #855E42;
  }


  @media only screen and (max-width: 1000px) {
    .tablestyle {
      width: 500px;
      height:500px;
      text-align: center;
      margin:0 auto;
    }



    .tile-container 
    {
      position: relative;
      height: 30px;
      text-align: center;
      margin:0;
      padding:0;
    }
  
  }


.
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
    .img-fluid {
    max-width: 60%;
  }

} */
