
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.container-fluid {
  margin-bottom: 0;
}



body {
  font-family: Arial;
  background: #f1f1f1;
  border: 1px solid green;
  padding: 0;
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; */
  /* grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
  height: 600px;
  width: 600px;  */
  width: 43vw;
  height:43vw;
  grid-template-columns: 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% ; 
  grid-template-rows: 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% ;
  align-content: center;
  grid-gap: 0 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #C3BEA1;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid white;
}





.TW {
  padding: 0;
  background-color: #ff6b33;
  
}

.DL {
  background-color: #3393ff;
}

.TL {
  background-color: #4f9425;
}

.DW{
  background-color: red;
}

.S{
  background-color: red;
  color: white;
}

.controls {
    display: flex;
    flex-direction: column;
    
}


.tile-container 
  {
    position: relative;
    height: 40px;
    text-align: center;
    margin:0;
    padding:2px;
    
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 25px;
  }

  .bottom-right {
    position: absolute;
    bottom: 3px;
    right: 2px;
    color: black;
    font-size: 10px;
  }



  .tile-on-board {
    max-width:100%;
    max-height:100%;
  }


  .ghost {
    visibility: hidden;
  }

  .highlight {
    background: yellow;
  }

  .slot {
    /* border: 2px solid  #855E42;
    border-radius: 5px;
    margin:5px; */
    transform-style: preserve-3d;
    transform: rotateX(20deg);
    transform: translateY(10%);
  }

  .holder {
    /* background-image: url(img/rack.png); */
    /* width:150px; */
    /* margin-left: -60px; */
    height: 50px;
    /* border: 1px solid purple;   */
    position: absolute;
    left: 10%;
    padding:0; 
    perspective: 100px;
  }

  .rackimage {
    /* border: 1px solid green;  */
    transform: translate(-10px);
    width:50%;
    height:50%;
    /* position: absolute;
    left:20%; */
  }

  .unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .fit-to-screen {
      height: 100vw;
  }

  .submitted {
    animation-name: animate;
    animation-duration: .3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }

  .mytable {
    border: 2px solid black;
  }

   td, th{
    border: 2px solid black;
    padding:10px;
  }

  table {
    border: 2px solid black;
    width:80%;
  }

  #who-is-playing {
    font-weight: bold;
    background:yellow;
  }

 

  .verdict-bad {
    color: red;
  }
  .verdict-good {
    color: green;
  }


  #points {
    /* font-size: 1.5em; */
    color: green;
  }

  @keyframes animate
  {     
          from {
          transform: scale(1);
          }

          to {
            transform: scale(1.2); 
          }
  }

  .not-there{
    display: none;
  }


  @media only screen and (max-width: 1000px) {
    .grid-container {
      width: 100%;
      height:100%;
      grid-template-columns: 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% ; 
      grid-template-rows: 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% ;
    }



    .tile-container 
    {
      position: relative;
      height: 30px;
      text-align: center;
      margin:0;
      padding:0;
    }

    .centered {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 15px;
    }

    .bottom-right {
      position: absolute;
      bottom: 1px;
      right: 1px;
      color: black;
      font-size: 10px;
    }

    .holder {
      /* background-image: url(img/rack.png); */
      /* width:150px; */
      /* margin-left: -60px; */
      height: 30px;
      /* border: 1px solid purple;   */
      position: absolute;
      left: 10%;
      top: 0;
      padding:0; 
      perspective: 100px;
    }

    .rackimage {
      /* border: 1px solid green;  */
      transform: translate(-10px);
      width:70%;
      height:60%;
      /* position: absolute;
      left:20%; */
    }

    .control-btns{
      flex-direction: row !important;
    }



  
  }


.
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
    .img-fluid {
    max-width: 60%;
  }

} */
