/* * { border: 1px solid black; } */


* {
    box-sizing: border-box;
    /* border: 1px solid green; */
  }
  
  .container-fluid {
    margin-bottom: 0;
  }
  
.col-sm-auto {
    padding: 0;
}

.bdry {
  border: 1px solid green;
}

  
  body {
    font-family: Arial;
    background: #f1f1f1;
    border: 1px solid green;
    padding: 0;
    overscroll-behavior: contain;
  }

  .rackholder {
      display: inline-block;
      position: relative;
      /* background-color: #666; */

  }

  .center-text{
      text-align: center;
  }
  
  .grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; */
    /* grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
 */
    /* width: 100%;
    height:100%; */
    height: 400px;
    width: 400px; 
    grid-template-columns: 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% ; 
    grid-template-rows: 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% ;
    align-content: center;
    grid-gap: 0 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #C3BEA1;
  }
  
  .grid-item {
  
    position: relative;
    display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    border: 1px solid white;
    padding:0;
  }

  td, th{
    border: 2px solid blue;
    /* padding:10px; */
  }


  .mytable {
    border: 2px solid blue;
    width:80%;
    /* border-radius: 10px; */
    margin-left:auto;
    margin-right: auto;
  }
  
  
  
  
  
  .TW {
    padding: 0;
    background-color: #ff6b33;
    
  }
  
  .DL {
    background-color: #3393ff;
  }
  
  .TL {
    background-color: #4f9425;
  }
  
  .DW{
    background-color: red;
  }
  
  .S{
    background-color: red;
    color: white;
  }
  
  .controls {
      display: flex;
      flex-direction: column;
      
  }
  
  
  .tile-container 
    {
      position: relative;
      /* height: 50px; */
      text-align: center;
      margin:0;
      padding:2px;
      z-index: 1;
    }
  
    .centered {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 25px;
      font-weight: bold;
    }
  
    .bottom-right {
      position: absolute;
      bottom: 7px;
      right: 3px;
      color: black;
      font-size: 10px;
    }
  
    .centered-on-rack {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 30px;
      font-weight: bold;
    }
   
  
    .bottom-right-on-rack {
      position: absolute;
      bottom: 1px;
      right: 3px;
      color: black;
      font-size: 15px;
  }
  
  .highlight-box{
    border: 4px solid black;
  }

  .highlight {
    background-color: #F7FBA1;
  }
  
  
  
  
  
    .tile-on-board {
      max-width:100%;
      max-height:100%;
      position: relative;
    }
  
  
    .ghost {
      visibility: hidden;
    }
  
 
  
    .slot {
      /* border: 2px solid  #855E42;
      border-radius: 5px;
      margin:5px; */
      /* transform-style: preserve-3d;
      transform: rotateX(20deg);
      transform: translateY(10%); */
    }
  
    /* .holder {
 
      height: 50px;

      position: absolute;
      left: 10%;
      padding:0; 
      perspective: 100px;
    } */
  
    .rackimage {
      /* border: 1px solid green;  */
      /* transform: translate(-10px); */
      display: block;
      /* margin-left: auto;
      margin-right: auto; */
      width:50%;
      height:70%;
      position: absolute;
      left:20%; 
    }
  
    .unselectable {
      user-drag: none; 
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  
    .fit-to-screen {
        height: 100vw;
    }
  
    .submitted {
      animation-name: animate;
      animation-duration: .3s;
      animation-iteration-count: 2;
      animation-direction: alternate;
    }
  
   
  

  
   #twolw-list{
     /* font-size: 0.8em; */
   }
  
    .verdict-bad {
      color: red;
    }
    .verdict-good {
      color: green;
    }
  
    .redbold {
      color:blue;
      font-weight: bold;
    }

    .scorebox{
      width:80%;
      background-color: lightgreen;
      border-radius: 10px;
      margin:auto;
      /* display: flex;
      justify-content: center;
      align-items: center; */
    }

    .tpdiv{
      width:80%;
      background-color:lightpink;
       border-radius: 5px;
      margin:auto;
      /* display: flex;
      justify-content: center;
      align-items: center; */
    }

    .tpbox{
      text-align: center;
      padding-left: 10px;
      padding-right:10px;
    }

    .whitebold {
      font-weight:bold;
      /* color:#143D59; */
    }
  
    .victory {
      border: 2px solid blue; 
      background-color: #107896;
      color: white;
    }
  
  

  
    @keyframes animate
    {     
            from {
            transform: scale(1);
            }
  
            to {
              transform: scale(1.2); 
            }
    }
  
    .not-there{
      display: none;
    }
  
    .infobox {
      font-weight: bold;
      color: blue;
    }
  
  
  
    #AIbox{
      border: 2px solid #888;
      padding: 5px;
      border-radius: 10px;
      background-color: #FF00FF;
    }
  
    .pushup {
      -ms-transform: scale(1.3); /* IE 9 */
      -webkit-transform: scale(1.3); /* Safari 3-8 */
      transform: scale(1.3); 
      transform: translate(0,-20px);
    }
  
    #lastPlayed{
      border: 2px solid #666;
      padding: 5px;
      border-radius: 10px;
      background-color:lightskyblue;
  
    }

    #victorybox{
      position: absolute;
      top:20%;
      left:20%;
      z-index: 100;
      background-color: aquamarine;
    }

    #all7box{
      display: none;
      position: absolute;
      top:30%;
      left:30%;
      margin-left:auto;
      margin-right:auto;
      z-index: 100;
      background-color: aquamarine;
    }

  
   /* The Modal (background) */
   .modal {
    display: hidden;
    position: fixed; /* Stay in place */
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
  
  .shorttext{
    display: none;
  }

  .longtext{
    display: inline-block;
  }

  

  .rackbgd{
    background-color: #C19A6B;
  }
  










  @media only screen and (max-width: 900px) {

  /* @media (max-width: @screen-sm-min) { */
     
  .TW {
    padding: 0;
    background-color: #ff6b33;
    font-size: .8em;
    
  }
  
  .DL {
    background-color: #3393ff;
    font-size: .8em;
  }
  
  .TL {
    background-color: #4f9425;
    font-size: .8em;
  }
  
  .DW{
    background-color: red;
    font-size: .8em;
  }
  
  .S{
    background-color: red;
    color: white;
    font-size: .8em;
  }

    .shorttext{
      font-size: 0.8em;
      display: inline-block;
    }

    .longtext{
      display: none;
    }

    .control-btns{
      flex-direction: row !important;
    }

    .smallscreen{
      padding-left: 0 !important;
    }

    .centered {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 15px;
      font-weight: bold;
    }
  
    .bottom-right {
      position: absolute;
      bottom: 7px;
      right: 3px;
      color: black;
      font-size: 8px;
    }
  
    .centered-on-rack {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 20px;
      font-weight: bold;
    }

    .bottom-right-on-rack {
      position: absolute;
      bottom: 1px;
      right: 3px;
      color: black;
      font-size: 10px;
  }


    #points {
      font-size: .8em;
      /* color: green; */
    }

    /* #tile-counter {
      font-size: .8em;
    } */


  
    /* #who-is-playing {
      font-size: .8em;
    } */

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 10px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    
  .mytable {
    border: 2px solid blue;
    width:50%;
    /* border-radius: 10px; */
    margin-left:auto;
    margin-right: auto;
  }
  
  
  }